<p>
  Liri is asking all past and future contributors to sign a contributor license agreement.
  Every contributor of non trivial amounts of code (more than just a line or two) to any of our
  projects should sign such a document.
  If somebody is unable to sign the document, their contribution (whether it be code, or
  documentation or string translations or graphics) may need to be removed from Liri.
</p>
<p>
  The CLA ensures that Liri has clear license to all its contributions, which in turns lets us
  guarantee to users that
</p>